name: Build and Publish Bindings
on:
  workflow_dispatch:
    inputs:
      wgpuVersion:
        description: 'WGPU version to build bindings for'
        required: true
        type: string
  workflow_call:
    inputs:
      wgpuVersion:
        description: 'WGPU version to build bindings for'
        required: true
        type: string
    secrets:
      PKG_PUBLISHING_AUTH_TOKEN:
        required: true
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            jextract_url: https://download.java.net/java/early_access/jextract/25/2/openjdk-25-jextract+2-4_linux-x64_bin.tar.gz
            jextract_archive: jdk.tar.gz
            os_name: linux
            gradle_cmd: ./gradlew
          - os: windows-latest
            jextract_url: https://download.java.net/java/early_access/jextract/25/2/openjdk-25-jextract+2-4_windows-x64_bin.zip
            jextract_archive: jdk.zip
            os_name: windows
            gradle_cmd: .\gradlew.bat
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Download jextract (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: wget -O $RUNNER_TEMP/${{ matrix.jextract_archive }} ${{ matrix.jextract_url }}
      
      - name: Download jextract (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          Invoke-WebRequest -Uri "${{ matrix.jextract_url }}" -OutFile "$env:RUNNER_TEMP\${{ matrix.jextract_archive }}"
        shell: pwsh
      
      - name: Extract jextract (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: tar -xf $RUNNER_TEMP/${{ matrix.jextract_archive }}
      
      - name: Extract jextract (Windows)
        if: matrix.os == 'windows-latest'
        run: Expand-Archive -Path $env:RUNNER_TEMP\${{ matrix.jextract_archive }} -DestinationPath .
        shell: pwsh
      
      - name: Set JEXTRACT_HOME (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: echo "JEXTRACT_HOME=$(pwd)/jextract-25" >> $GITHUB_ENV
      
      - name: Set JEXTRACT_HOME (Windows)
        if: matrix.os == 'windows-latest'
        run: echo "JEXTRACT_HOME=$((Get-Location).Path)\jextract-25" >> $env:GITHUB_ENV
        shell: pwsh
      
      - uses: actions/setup-java@v4
        id: install-jdk
        with:
          java-version: 25
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: wrapper

      - name: Download natives
        run: ${{ matrix.gradle_cmd }} -PwgpuVersion=${{ inputs.wgpuVersion }} -Pos=${{ matrix.os_name }} :natives:download

      - name: Extract natives
        run: ${{ matrix.gradle_cmd }} -PwgpuVersion=${{ inputs.wgpuVersion }} -Pos=${{ matrix.os_name }} :natives:unzip

      - name: Copy headers
        run: ${{ matrix.gradle_cmd }} -PwgpuVersion=${{ inputs.wgpuVersion }} -Pos=${{ matrix.os_name }} ':natives:copyWgpuHeaders'

      - name: Generate bindings
        run: ${{ matrix.gradle_cmd }} -PwgpuVersion=${{ inputs.wgpuVersion }} -Pjextract.home=${{ env.JEXTRACT_HOME }} :lib:bindings

      - name: Publish bindings as artifact
        uses: actions/upload-artifact@v4
        with:
          name: webgpu-bindings-${{ matrix.os_name }}
          path: lib/build/webgpu.jar

      - name: Publish bindings to GH packages
        run: ${{ matrix.gradle_cmd }} -PwgpuVersion=${{ inputs.wgpuVersion }} :lib:publish
        env:
          GITHUB_USER: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.PKG_PUBLISHING_AUTH_TOKEN }}
